.head-design {
    position: relative;
    text-align: center;
}

.text1 a {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.text1 a:hover {
    color: #ddd;
}

.Headimg {
    width: 100%;
    height: 10rem;
}

.all {
    margin-inline-start: 10%;
    margin-inline-end: 10%;
    background-color: azure;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

a.button1 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #df1c1c;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #ec1717;
    text-align: center;
    transition: all 0.2s;
}

a.button1:hover {
    color: #000000;
    background-color: #f0eaea;
}

@media all and (max-width:30em) {
    a.button1 {
        display: block;
        margin: 0.4em auto;
    }
}

.cs-card {
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    box-shadow: 1px 1px 2px #555;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    margin-top: 5rem;
}

.cs-card:hover {
    transform: translateY(-10px);
}

.cs-card a {
    text-decoration: none;
    color: black;
    font-size: x-large;
}
